.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #fff;
    position: relative;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-links.active {
    transform: translateX(0);
  }
  
  .navbar-close {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .navbar-close.active {
    opacity: 1;
  }